<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Help Page - Tutor Management System</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/help.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="/javascripts/profileScript.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/tutor_dashboard.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/notifications.css">
</head>

<body>

    <section>
        <h2>Getting Started</h2>
        <p>Welcome to the Tutor Management System. This platform is designed to make the process of finding and managing tutors easier and more efficient.</p>
        <img src="/images/help1.jpg" alt="Getting Started Image" class="help-img">
        <p>Follow our step by step guide to get started with the system.</p>
    </section>

    <section>
        <h2>How to Find a Tutor</h2>
        <p>Using our advanced search functionality, you can find a tutor based on subject expertise, location, and ratings. Simply navigate to the 'Find a Tutor' section and enter your preferences.</p>
        <img src="/images/help2.jpg" alt="Find a Tutor Image" class="help-img">
    </section>

    <section>
        <h2>Managing Appointments</h2>
        <p>Our calendar integration makes it easy for you to manage and schedule appointments with tutors. You'll receive notifications for upcoming lessons, ensuring you never miss a session.</p>
        <img src="/images/help3.jpg" alt="Manage Appointments Image" class="help-img">
    </section>

    <section>
        <h2>Contact Us</h2>
        <p>If you have any questions or run into issues, please don't hesitate to contact our support team. You can reach us at: support@tutormanagementsystem.com</p>
    </section>


</body>

</html>
